html {
  height: 100%;
  overflow-y: scroll;
}
html body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    margin-top: -1px;

    a, a:hover,a:visited{
      text-decoration: none;
    }
  
    button,select,input {
      border-style: none;
    }
  
    button {
      cursor: pointer;
      padding: 0;
    }
    
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    pre {
      background-color: #666;
      color: #e1e1e1;
      font-family: 'Microsoft Yahei';
      font-size: 14px;
      border-radius: 8px;
      padding: 10px 20px;
    }

    .root {
      padding-left: calc(100vw - 100%);
    }
  }