$defaultSkinColor: #5ca7e0;
$contentTextColor: #4088ca;
$defaultButtonColor: #1ab7f8;
$defaultYellow: #ffff00;
$defaultWeakYellow: #ffce44;
$defaultPink: #ca00cc;
$defaultOrange: #ef4300;
$defaultGreen: #8fcd00;
$defaultJade: #00be99;
$defaultBlue: #007acc;
@mixin default_btn($bg,$border) {
    cursor: pointer;
    width: 300px;
    height: 44px;
    margin-top: 25px;
    padding: 0;
    background: $bg;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: $border;
    -moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.25) inset,
      0 2px 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.25) inset,
      0 2px 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.25) inset,
      0 2px 7px 0 rgba(0, 0, 0, 0.2);
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

@mixin default_btn_hover {
    -webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.15) inset,
    0 2px 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.15) inset,
    0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

@mixin default_btn_active($border) {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1) inset,
    0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border: $border;
}

@mixin default_header_btn($color) {
    width: 100px;
    height: 30px;
    border: 2px solid $color;
    border-radius: 10px;
    color: $color;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #333;
    transform: scale(0.9);
    transition: all 0.4s ease;
  }
  
  @mixin default_header_btn_hover($color) {
    background-color: $color;
    color: #fff;
    cursor: pointer;
    transform: scale(1);
}

@mixin default_input {
    width: 270px;
    height: 42px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d;
    background: rgba(45, 45, 45, 0.85);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

@mixin default_input_focus {
    outline: none;
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset,
      0 2px 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset,
      0 2px 7px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1) inset,
      0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

@keyframes registermove {
  from {
    top: 30px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@mixin loregmove {
  animation: registermove 0.5s;
}

@keyframes changecolor {
  0% {
    background-color:rgba(202,0,204,0.3);
    color: #ca00cc;
    border-color: #ca00cc;
  }
  16% {
    background-color:rgba(239,67,0,0.3);
    color: #ef4300;
    border-color: #ef4300;
  }
  32% {
    background-color:rgba(143,205,0,0.3);
    color: #8fcd00;
    border-color: #8fcd00;
  }
  48% {
    background-color:rgba(0,190,153,0.3);
    color: #00be99;
    border-color: #00be99;
  }
  64% {
    background-color:rgba(0,122,204,0.3);
    color: #007acc;
    border-color: #007acc;
  }
  100% {
    background-color:rgba(202,0,204,0.3);
    color: #ca00cc;
    border-color: #ca00cc;
  }
}

@mixin neonlamp{
  animation: changecolor 5s infinite;
}

.warning {
  width: inherit;
  padding: 5px 0;
  border-radius: 5px;
  background-color: #f22647;
  color: #fff;
  font-size: 10px;
  text-indent: 14px;
  margin-top: 8px;
  opacity: 0;
  cursor: default;
  transition: 0.5s ease;
}
.warning_show {
  opacity: 1;
}
.tip {
  font-size: 12px;
  margin-top: 20px;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(42, 42, 42, 0.5);
  padding: 10px;
}

.loorreg_custom_height {
  height: 400px;
}

.clearfix{overflow:hidden;_zoom:1;}
